@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500;1,400&display=swap');

* {
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family:"Poppins", sans-serif ;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin: 0px;
    
}
h1{
    font-weight: normal;
    font-size: 4rem;
    margin-top: -10rem;
}

.container{
    display: flex;
}
.big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.el{
    text-align: center;
}
.el span{
    font-size: 1.5rem;
}
